<h4><%= @word.name %></h4>
<p><a href="/word/<%= @word.id %>/edit">Edit Word</p>

<h3>Definitions:</h3>

<% if @word.definitions.any? %>
    <ol>
      <% @word.definitions.each do |definition| %>
            <li><%= definition.body %></li>
            <a href="/words/<%= @word.id %>/definitions/<%= definition.id %>">Edit</a>
      <% end %>
    </ol>
  <% else %>
    <p>There are no definitions for this word yet.</p>
  <% end %>

  <h4>Add a definition:</h4>

  <form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <textarea name="body" rows="8" cols="80" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<a href="/">Return to word list</a>
