<h4><%= @word.name %></h4>

<h3>Definitions:</h3>

<% if @word.definitions.any? %>
    <ol>
      <% @word.definitions.each do |definition| %>
        <li><%= definition.author %>
          <ol>
            <li><%= definition.body %></li>
          </ol>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p>There are no definitions for this word yet.</p>
  <% end %>

  <h4>Add a definition:</h4>

  <form action="/words/<%= @word.id %>/definitions" method="definition">
  <div class="form-group">
    <label for="author">definition name</label>
    <input id="author" name="author" class="form-control" type="text">
    <label for="body">Body</label>
    <textarea name="body" rows="8" cols="80" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>

<p><a href="/word/<%= @word.id %>/edit">Edit Word</a></p>
<a href="/">Return to word list</a>
